.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(264deg, #da7c25 0.36%, #b923e1 102.06%);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .scroll-to-top:hover {
    opacity: 0.8;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('/fonts/open_sans/open-sans-v18-latin-regular.woff') format('woff');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('/fonts/open_sans/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('/fonts/open_sans/open-sans-v18-latin-800.woff') format('woff');
    font-weight: 800;
  }